input { 
    file{
        path => "/home/ayush/BlockChain/Bittorrent2/dataset_movies_btorrent.csv"
        start_position => "beginning"
        sincedb_path => "/dev/null"
    }
 }

filter {

    csv{
        separator => ","
        columns => ["suggest", "output"]
    }
}

output {

  elasticsearch { 
      hosts => ["localhost:9200"] 
      index => "movies_list"
      }

    stdout {}
}
